<mat-card class="loc-card">
  <mat-card-title>Sign Up</mat-card-title>
  <mat-card-content>
  <form class="form"
        [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="nickName" formControlName="nickName" required>
      <mat-error *ngIf="form.get('nickName').invalid">{{getErrorMessage(form.get('nickName'))}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="email" formControlName="email" required>
      <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage(form.get('email'))}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="password" formControlName="password" required>
      <mat-error *ngIf="form.get('password').invalid">{{getErrorMessage(form.get('password'))}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="firstName" formControlName="firstName" required>
      <mat-error *ngIf="form.get('firstName').invalid">{{getErrorMessage(form.get('firstName'))}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="secondName" formControlName="secondName" required>
      <mat-error *ngIf="form.get('secondName').invalid">{{getErrorMessage(form.get('secondName'))}}</mat-error>
    </mat-form-field>
  </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            color="primary"
            (click)="submit()"
            [disabled]="form.invalid">Sign Up</button>
  </mat-card-actions>
</mat-card>
